

<div>

<h1>アプリタイトル</h1>

<p>説明です説明です説明です説明です説明です説明です説明です説明です説明です説明です説明です説明です説明です説明です説明です説明です説明です説明です説明です説明です説明です説明です説明です説明です説明です説明です説明です説明です説明です説明です説明です説明です説明です説明です説明です説明です説明です</p>

<button class="bg-indigo-700 font-semibold text-white py-2 px-4 rounded">
  <%= link_to "login", login_path %>
</button>