<h1><%= t(".title")%></h1>
<div>
  <% if @tracks.present? %>
     <%image = @album.images[1]%>
     <%= image_tag(image["url"])%>

    <% @tracks.each do |track| %>
      <div class='w-auto h-4 bg-gray-300'>
        <h3><%= link_to track.name, new_track_path(album_id: @album.id ,track_id: track.id)  %></h3>
      </div>
    <%end%>
  <%end%>
</div>