
<h1>検索結果</h1>
<div>
  <% if @albums.present? %>
    <% @albums.each do |album| %>
      <div>

        <h3><%= album.name %></h3>
          <% if album.images.any?%>
            <%image = album.images[1]%>
            <%= link_to   search_track_tracks_path(album_id: album.id) do %>
              <%= image_tag(image["url"])%>
            <%end%>
          <%else%>
            <%= image_tag("noimage.png")%>
          <%end%>
      </div>
    <%end%>
  <%end%>
</div>