<p>てすと</p>
<h1>Your Liked Tracks</h1>

<% if @user_likes.any? %>
  <ul>
    <% @user_likes.each do |like| %>
      <%= render partial: '/tracks/track', locals: { track: like.track, like: like } %>
    <% end %>
  </ul>
<% else %>
  <p>You haven't liked any tracks yet.</p>
<% end %>